@media screen and (max-width:700px){
    .pesquisa {
        margin-left: 1rem;
    }

    .pesquisa input[type=search]{
        opacity: 0;
        width: 0;
        height: 0;
        margin-left: 20%;              
    }

    .login {
        left: 75%;
     }

    .logo-text {
        margin-left: -8.9rem;
    }

    .menu:hover {
        width: 5rem;
    
    }

    .link-text {
        display: none;
        color: transparent;
    }
    
    .botao2{
        margin-left: 15%;
        margin-top: 3%;
    }
    
    .jogo-principal .descricao{
        display: flex;   
    }    
}

@media screen and (max-width:1099px){
    .pesquisa input {
        width: 40%;
    }

    .login {
        right: 15%;
     }

}


@media screen and (min-width:1100px) {
    .pesquisa input {
        width: 50%;
    }

    .pesquisa {
        justify-content: center;
        align-items: center;

    }


    .login {
       right: 10%; 
       
    }
}